@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Markazi+Text:wght@400;500;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green: #495E57;
  --yellow: #F4CE14;
}


@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

nav, ul {
  display: flex;
  padding: 2% 20%;
  flex-wrap: wrap;
}

ul, li {
  justify-content: space-between;
  column-gap: 10px;
}

li:hover {
  text-decoration: underline;
}

.subtitle {
  font-weight: normal;
  font-size: 40pt;
  font-family: Markazi Text;
}

.lead {
  font-size: 18pt;
  font-weight: medium;
  font-family: Markazi Text;
}

.cardTitle {
  font-size: 18pt;
  font-weight: bold;
  font-family: Markazi Text;
}

p {
  font-size: 16pt;
  font-weight: normal;
  line-height: 1.5;
  max-width: 65ch;
  font-family: 'Karla', sans-serif;
}

.hero {
  background-color: var(--green);
  padding: 0 15%;
  display: flex;
  justify-content: space-evenly;
}

#heropic {
  padding: 5% 0;
}

footer {
  padding: 2% 20%;
 background-color: var(--green);
}

button {
  background-color: var(--yellow);
  color: var(--green);
  border-radius: 16px;
  padding: 8px;
}

.highlights {
  padding: 4% 15%;
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 1px solid black;
  border-radius: 16px 16px 0 0;
  max-width: 30%;
}

.cardImage{
  border-radius: 16px 16px 0 0;
}
.cardContent {
  padding: 0 2%;
  background-color: lightgray;
  overflow-wrap: break-word;
}
